# ===== OS =====
.DS_Store
Thumbs.db

# ===== IntelliJ / JetBrains =====
.idea/
**/.idea/
*.iml
*.iws
*.ipr
git_toolbox_blame.xml

# ===== Java / Class =====
*.class

# ===== Gradle =====
.gradle/
**/.gradle/
build/
**/build/
out/
**/out/

# ===== Logs =====
*.log

# ===== Env / Secrets =====
.env
.env.*
application-local.yml
application-dev.yml

# ===== Docker =====
docker/*.env

# ===== Temp =====
tmp/
